# HW 4 - SQL


## Due: Friday, Oct 12, 2018, 11:59:00pm

### Submission instructions
After completing this homework, you will turn in two files via Canvas ->  Assignments -> HW 4:
- Your Notebook, named si330-hw4-YOUR_UNIQUE_NAME.ipynb and
- the HTML file, named si330-hw4-YOUR_UNIQUE_NAME.html

### Name:  YOUR NAME GOES HERE
### Uniqname: YOUR UNIQNAME GOES HERE
### People you worked with: [if you didn't work with anyone else write "I worked by myself" here].

## Part 0: Setup and Database

In [ ]:
import sqlite3 as sqlite

We have provided you with an SQLite database in `chinook.db`. This database contains the following tables:

- `artists`: Musical artists, each with an artist id and name.
- `albums`: Musical albums. Each album belongs to one artist. However, one artist may have multiple albums.
- `tracks`: Songs. Each track belongs to one album.
- `invoices` and `invoice_items`: Purchase invoices. Each invoice represents a single purchase, associated with one or more invoice items. Each invoice item represents the purchase of a single track, the dollar amount paid, and the quantity.
- `employees`: Employees, each with an employee id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.
- `customers`: Customers.
- `media_types`: Media types, such as MPEG audio file, ACC audio file, etc.
- `genres`: Music types such as rock, jazz, metal, etc.
- `playlists` and `playlist_track`: Musical playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists table and tracks table is many-to-many. The playlist_track table is used to reflect this relationship.

A schematic view of this database is below:
    
![The chinook database](chinook.png)

### Part 0.1: SQLite DB Browser

As in the lab, we recommend that you use an SQLite GUI, like the [SQLite DB Browser](http://sqlitebrowser.org/), to browse the database and test your queries.

## Part 1: Connect to database

Insert the code to:
- connect to the database in `chinook.db` using a variable called `con`
- set up a row factory so that results from the database are returned as dictionary-like objects.
- and open a cursor to execute queries from (in a variable called `cur`)

In [ ]:
# CHANGE ME: insert code here

## Part 2: Queries!

Let's answer some questions about the database. Below each entry, insert the code to execute a query against the database and print out the answer.

**All questions in this part and the remaining sections of this assignment must be answered using SQL (apart from code to print out the result). You may not further process the data in python except to print the rows returned by your query.**

**2.1** How many artists are in the database?

In [ ]:
# CHANGE ME: insert code here

**2.2** Who are the top ten artists by number of **albums**? Print their names and the number of albums they have. (HINT: use the `LIMIT` clause to get just the top 10; **do not** use list slicing in python).

In [ ]:
# CHANGE ME: insert code here

**2.3** Who are the top ten artists by number of **tracks**? Print their names and the number of tracks they have.

In [ ]:
# CHANGE ME: insert code here

**2.4** How many tracks are in the database?

In [ ]:
# CHANGE ME: insert code here

**2.5** What are the top ten albums by number of purchases of any track off the album? For example, if two tracks were purchased off an album, that counts as two purchases for that album. Print the artist name, album, and the number of purchases.

In [ ]:
# CHANGE ME: insert code here

**2.6** Who are the top ten artists by number of purchases of their tracks? Print the artist name and the number of purchases.

In [ ]:
# CHANGE ME: insert code here

**2.7** How many tracks were purchased by customers from each country in the database? Print each country name and the number of tracks.

In [ ]:
# CHANGE ME: insert code here

**2.8** What is the *most* popular genre by **number of tracks**? Your SQL query should return **only one row**, giving the genre name and the number of songs in the database in that genre.

In [ ]:
# CHANGE ME: insert code here

**2.9** What is the *least* popular genre by **number of tracks**? Your SQL query should return **only one row**, giving the genre name and the number of songs in the database in that genre.

In [ ]:
# CHANGE ME: insert code here

**2.10** What is the *most* popular genre by **number of purchases**? Your SQL query should return **only one row**, giving the genre name and the number of songs in the database in that genre.

In [ ]:
# CHANGE ME: insert code here

**2.10** How many "Alternative & Punk" songs were purchased in the United States?

In [ ]:
# CHANGE ME: insert code here

**2.11** Print out a track listing of the "TV Shows" playlist: Artist name, track name, album name, and Composer

In [ ]:
# CHANGE ME: insert code here

## BONUS

**BONUS.1** What is the least popular genre by number of purchases? Your SQL query should return **only one row**, giving the genre name and the number of purchases of songs in that genre.

In [ ]:
# CHANGE ME: insert code here

**BONUS.2** For each country, list how many songs were purchased in each genre in that country. In the same query, also get the percentage of purchases in that country that were made up of each genre. For example, you should have a row for `"Alternative & Punk"` in `"Argentina"`, giving the count of songs (say, `10`) and the percent of all purchases in Argentina made up of Alternative & Punk songs (say, `.30`, i.e., 30%). (Note, these numbers are examples.)

In [ ]:
# CHANGE ME: insert code here

## Close the database

In [ ]:
con.close()